body{
    background-color:pink;
}
h1{
    color:rgb(109, 182, 255);
    background-color: aliceblue;
}
#show_sketch{
    float:right;
}
canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(255, 255, 133);}
    to{box-shadow:1px 1px 38px rgb(255, 197, 73);}
}
p{
    padding-top:10px;
    font-size:25px;
}